html {
  background-color: #294507;
}
body {
  background-color: #04AA6D;
}

body > nav > div ul > li > a.nav-link {
  color: white !important;
}

footer {
  justify-content: center;
}

.foot-link {
  color: black;
  text-decoration: none;
}

.foot-list {
  list-style: none;
}

.foot-item {
  font-size: 10px;
  text-transform: uppercase;
}

.address {
  justify-content: center;
  margin-bottom: 5px;
}


/*.custom_theme {
  --cc-font-family: "pirata-one", Roboto, Arial, sans-serif
  --cc-font-size: 16px;
  --cc-bg: #294507;
  --cc-border-radius: 6px;
  --cc-btn-primary-bg: #203a02fa;
  --cc-btn-primary-text: #ffffff;
  --cc-btn-primary-hover-bg: #3d4e28fa;
  --cc-btn-primary-hover-text: #a2ae94fa;
  --cc-btn-border-radius: 4px;
}

.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
}

.topnav #navigation {
  display: none;
}

.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}


/* Style the active link (or home/logo)

.underlined {
  position: relative;
  text-decoration: none;
  white-space: nowrap;
}

.underlined:focus {
  outline: none;
  text-decoration: none;
}

.underlined:hover:after, .underlined:focus:after, .underlined:after {
  background-color: currentColor;
  transform: scaleX(1);
}*/
